{% extends 'base.html.twig' %}

{% block title %}Everywhere coaching – Le sport partout, pour tous{% endblock %}
{% block description %}Everywhere coaching – Le sport partout, pour tous{% endblock %}

{% block body %}

<section class="module bg-dark-60 about-page-header" data-background="{{ asset('images/lio4.jpg') }}">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Préparation physique</h2>
          <div class="module-subtitle text-weight">Vous êtes sportif professionnel, débutant, aguerri, ou pratiquant loisir…<br><br>
            Vous avez une échéance sportive en vue, ensemble nous irons la relever sereinement, car votre préparation aura été optimale.</div>
        </div>
      </div>
    </div>
</section>
<section class="module" id="team">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="module-subtitle align-left">En construction...
            </div>
        </div>
        <div class="col-sm-5 align-center">
            <img src="{{ asset('images/lio10.jpg') }}" alt="Feature Image">
        </div>
      </div>
    </div>
  </section>

{% endblock %}