{% extends 'base.html.twig' %}

{% block title %}Everywhere coaching – Le sport partout, pour tous{% endblock %}
{% block description %}Everywhere coaching – Le sport partout, pour tous{% endblock %}

{% block body %}

<section class="module bg-dark-60 about-page-header" data-background="{{ asset('images/lio4.jpg') }}">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Préparation aux concours</h2>
          <div class="module-subtitle text-weight">Envie d’embrasser une carrière dans les métiers de l’armée, des forces de l’ordre, du sport…<br><br>
            Faites moi confiance pour mettre toutes les chances de votre coté et être prêt le jour J.</div>
        </div>
      </div>
    </div>
</section>
<section class="module" id="team">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="module-subtitle align-left">En construction...
            </div>
        </div>
        <div class="col-sm-5 align-center">
            <img src="{{ asset('images/lio11.jpg') }}" alt="Feature Image">
        </div>
      </div>
    </div>
  </section>

{% endblock %}