{% extends 'base.html.twig' %}

{% block title %}Everywhere coaching – Le sport partout, pour tous{% endblock %}
{% block description %}Everywhere coaching – Le sport partout, pour tous{% endblock %}

{% block body %}

        <section class="module bg-dark-60 about-page-header" data-background="{{ asset('images/lio4.jpg') }}">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Lionel Eschenbrenner</h2>
                <div class="about-subtitle font-serif">Je suis Lionel Eschenbrenner coach sportif diplômé, passionné de sport et par les relations humaines.</div>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h3 class="font-alt text-center text-dark"><u>Ma rencontre avec le sport</u></h3><br/>
                <p class="about-section-text">D’aussi loin que je me souvienne, je me vois faire du sport. Ces activités physiques démarre par l’apprentissage du vélo à l’âge de 24 mois, suivit du judo et de la natation à l’âge de 5 ans et enfin le handball lorsque j’ai 9 ans.</p>
                <p class="about-section-text">Voici comment je mets le doigt dans l’engrenage sportif. Ces différents sports m’enseignent beaucoup de valeurs (respect, modestie, amitié, rigueur…), que je continue à entretenir et à garder avec moi depuis toutes ces années.</p>
                <p class="about-section-text">Durant mon adolescence, je continue le handball, le judo et je teste d’autres sports, tels que le roller, le tir à l’arc, le snowboard et même la natation synchronisée…</p>
              </div>
              <div class="col-sm-4 align-center">
                <img src="{{ asset('images/lio20.jpg') }}" alt="Feature Image">
              </div>
              <div class="col-sm-4">
                <h3 class="font-alt text-center text-dark"><u>Mon parcours universitaire</u></h3><br/>
                <p class="about-section-text">Ce parcours sportif détermine mon choix d’études supérieures, je m’engage dans un cursus en STAPS, avec l’objectif de devenir professeur d’EPS et réaliser mon rêve d’enfant.</p>
                <p class="about-section-text">Au cours de mes études, je m’essaye à beaucoup de pratiques différentes telles que le Basket-ball, la gymnastique, la danse, l’athlétisme, le volley-ball, le snowboard.
                    A coté de cela, j’évolue au niveau National en handball.</p>
                <p class="about-section-text">Au final, je finis mon cursus avec un Master en management et gestion du sport, et une Licence en entrainement sportif.</p>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider-w">
        <section class="module">
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <h3 class="font-alt text-center text-dark"><u>Le besoin d'aventures</u></h3><br/>
                  <p class="about-section-text">Suite à mes études, je ressens l’envie de me mettre en danger et décide donc de partir en Australie pour plusieurs mois, afin d’apprendre l’anglais mais aussi de me confronter à une autre culture.</p>
                  <p class="about-section-text">Je pars donc pour Sydney, et durant plusieurs mois alterne entre travail et découverte du pays.</p>
                  <p class="about-section-text">Une expérience qui change ma vie, car je reviens en France après 8 mois et plus de 15 000km parcourus sur place, avec une vision de la vie différente, une ouverture aux autres encore plus grande et une envie d’apprentissage inépuisable.</p>
                  <p class="about-section-text">Des opportunités dans le monde de la restauration s’offrent à moi et je reprends mon sport de prédilection.</p>
                </div>
                <div class="col-sm-4 align-center">
                  <img src="{{ asset('images/lio17.jpg') }}" alt="Feature Image">
                </div>
                <div class="col-sm-4">
                  <h3 class="font-alt text-center text-dark"><u>Ma reconversion</u></h3><br/>
                  <p class="about-section-text">Quelques années et rencontres plus tard, je décide de faire ma reconversion professionnelle et quitte le domaine de la restauration pour devenir Coach sportif.</p>
                  <p class="about-section-text">Je retourne donc sur les bancs de l’école afin d’obtenir mon BPJEPS AGFF mention Force. Il s’agit pour moi d’un retour aux sources et de faire de ma passion mon métier.</p>
                  <p class="about-section-text">Depuis l’obtention de mon diplôme d’État, je ne cesse de continuer de me former car le domaine de l’entrainement sportif est vaste et en perpétuelle évolution.</p>
                  <p class="about-section-text">J’ai suivi de nombreuses formations et obtenues des certifications qui me permettent d’avoir une vision la plus large et complète possible.</p>
                </div>
              </div>
            </div>
        </section>
        <hr class="divider-w">
        <section class="module">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="font-alt text-center text-dark"><u>Diplômes &amp; Certifications </u></h3><br/>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Licence en Sciences du Sport (STAPS) Mention Entrainement Sportif (2006)</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Carte Professionnelle d’Éducateur Sportif (2017)</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  CrossFit Level 1 &amp; 2 (2017)</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  CrossFit Weightlifting Level 1 (2018)</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Aerobic Capacity (CrossFit Course) (2019)</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Movement Optimization for Prehab and Performance Level 1 (2019)</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Neurotyping system (Ballistic Advanced Training Institute) (2019)</p>
                </div>
                <div class="col-sm-6">
                  <h3 class="font-alt text-center text-dark"><u>Expériences professionnelles</u></h3><br/>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Twenti (centre d’électrostimulation) depuis 2020</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Coach à Adidas France (depuis 2019)</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Coach à Immanis CrossFit (2017 – 2019)</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Coach Musculation et HIIT à Le Club du Parc &amp; L’Égérie (2017 – 2018)</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Coach Stagiaire à CrossFit 67 (2016 – 2017)</p>
                  <p class="about-section-text"><i class="fa fa-arrow-circle-right"></i>  Une multitudes d’heures de coaching personnalisé, d’interventions auprès d’associations sportives et d’entreprises</p>
                </div>
              </div>
            </div>
        </section>
       
      
        <hr class="divider-d">

      </div>

      {% endblock %}